<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<title>home</title>
	<link rel="stylesheet" type="text/css" href="estilo.css">
	<!-- <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="script.js"></script> -->
</head>
<body>
	<!-- <div class="menu-overlay"></div> -->
	<!-- <a href="#" class="menu-open">Open Menu</a> -->

	<div class="side-menu-wrapper">
		<!-- <a href="#" class="menu-close">×</a> -->
		<ul>
			<li><a href="http://www.google.com" target="_blank" rel="nofollow">Página inicial</a></li>
			<li><a href="http://www.yahoo.com" target="_blank" rel="nofollow">Calendário</a></li>
	<!-- 		<li><a href="http://www.facebook.com" target="_blank" rel="nofollow">Tarefas</a></li> -->
			<li><a href="http://www.flickr.com" target="_blank" rel="nofollow">Metas e Objetivos</a></li>

		</ul>
	</div>

	<div id="area_principal">
		<h2>Página Inicial</h2>
		<span class="linha"></span> 
	</div>
</body>
</html>